$red: #862228;
$site-icon: #ffa500;
$gray: #686868;
$light: #d8d8cf;

$bg-color: #f5f5f2;
$black: #000;
$white: #fff;
$hr: #9f9e9e;
$footer-txt: #323232;
$border: #acacac;
$page_text: #474747;
$grey_title: #4d4d4d;
$light_grey: #929191;
$orange-color: #e95d0f;
$green: #10ab1b;
$bg_note: #898989;
$price_undertitle: #929191;